html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #E0E0E0;
}

#page {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
}

#main-bar {
  position: sticky;
  top: 0;
  height: max-content;
  z-index: 10;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#admin-title {
  display: none;
  left: 15px;
  position: absolute;
  color: white;
  font-weight: bolder;
}

#sidebar {
  transform: translateX(-100%);
  top: 0;
  bottom: 0;
  position: fixed;
  width: 360px;
  height: 100%;
  background-color: #EEEEEE;
  padding: 12px;
  margin: 0;
  overflow-y: scroll;
  z-index: 20;
}

#sidebar.active {
  transform: translateX(0);
}



#main {
  width: 100%;
  height: 100%;
}


#main-content {
  margin: 12px 0;
  position: relative;
}

.user-bar {
  display: flex;
  align-items: center;
  color: #17202A;
  padding: 8px 14px;
}

.user-icon-bar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #E5E8E8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-text {
  margin-left: 14px;
}


.bar {
  z-index: 12;
  background-color: #3366FF;
  display: flex;
  align-items: center;
  padding: 8px 12px;
}


.logout {
  border: none;
  border: 0;
  outline: none;
  background: none;
  color: white;
}

.logout:hover {
  filter: brightness(80%);
  cursor: pointer;
}

@media only screen and (max-width:360px) {
  #sidebar {
    width: 90%;
  }
}


/* @media screen and (min-width:997px) { */


/* #sidebar {
    transform: translateX(-100%);
    display: none;
    transition: display;
    animation-name: sidebar-disabled-xl-xxl;
    animation-duration: 120ms;
    animation-timing-function: ease-in-out;

  } */

/* #sidebar.active {
    transform: translateX(0);
    display: block;
    width: 350px;
    animation-name: sidebar-active-xl-xxl;
    animation-duration: 120ms;
    animation-timing-function: ease-in-out;
  } */

/* #main-toggle {
    visibility: hidden;
  } */
/* } */

/* @media screen and (max-width:996px) {
  #page {
    flex-direction: column;
    position: relative;
    height: 100vmax;
  }

  #sidebar {
    position: fixed;
    z-index: 10;
  }

  #sidebar {
    display: none;
    animation: sidebar-disabled-lg;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }

  #sidebar.active {
    width: 300px;
    display: block;
    animation: sidebar-active-lg;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
  }

  #main {
    width: 100%;
  }

  .menu-bar {
    position: relative;
    width: 350px;
    height: 100vmax;
  }

  #main-toggle {
    visibility: visible;
  }

  .sidebar-toggle {
    visibility: hidden;
  }
}



@media screen and (max-width:400px) {
  #sidebar {
    width: 90%;
  }

  .menu-bar {
    width: 90%;
  }

  #sidebar.active {
    width: 90%;
  }

  .menu-bar {
    width: 100%;
  }
} */




@keyframes mainActive-xl-xxl {
  from {
    margin-left: 350px;
  }

  to {
    margin-left: 0px;
  }
}

@keyframes sidebar-active-xl-xxl {
  from {
    width: 0;
  }

  to {
    width: 350px;
  }
}

@keyframes sidebar-disabled-xl-xxl {
  from {
    width: 350px;
    transform: translateX(-100%);
  }

  to {
    width: 0;
    transform: translateX(0);
  }
}

@keyframes sidebar-active-lg {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes sidebar-disabled-lg {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}