* {
  box-sizing: border-box;
}

body {
  font-family: SF Thonburi !important;
}

thead tr {
  border: 1px solid black;
}


tr {
  border-top: none;
  border-bottom: none;
  border-left: 1px solid;
  border-right: 1px solid;
}


tbody td:nth-child(2),
tbody td:nth-child(3),
tbody td:nth-child(4),
tbody td:nth-child(5) {
  border-left: 1px solid;
}

tbody tr:last-child {
  border-bottom: 1px solid !important;
}
tbody td{
  border: none ;
}
